<h1>New Game</h1>
<% @letters.each do |element| %>
  <span class='letter'><%=element%></span>
<% end %>

<p>What's the longest word you could find?</p>
<form action='/score' method='post'>
   <input type="text" name='word' value='<%= params[:word] %>'>
   <input type="submit" value='Play!'>
   <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
   <%= hidden_field_tag 'letters', @letters %>
</form>
